@model BBGymManagement.MVVM.CustomerDetailModel
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Account</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Surname</td>
            <td>@Model.Email</td>
            <td>@Html.ActionLink("My Orders", "MyOrders", "Home")</td>
            <td>@Html.ActionLink("ChangePassword", "ChangePassword", "Home")</td>
        </tr>
    </tbody>
</table>