<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/custom.css" rel="stylesheet" />
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BBGYM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Gym Membership", "GymMembership", "Category")</li>
                    <li>@Html.ActionLink("Personal Trainer", "PersonalTrainer", "Category")</li>
                    <li>@Html.ActionLink("Body Fat Calculator", "BodyFatCalculator", "Home")</li>
                </ul>
                <ul class="nav navbar-nav" style="float:right;">
                    @{
                        if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            var ticket = FormsAuthentication.Decrypt(HttpContext.Current.User.Identity.Name);
                            var userdata = ticket.UserData;
                            var roleName = userdata.Split(';')[1];
                            if (roleName == "Admin")
                            {
                                <li><a href="/Admin/Home/Index">Admin Panel</a></li>
                            }
                            <li>@Html.ActionLink("My Account", "MyAccount", "Home")</li>
                            <li><a href="#">@ticket.UserData.Split(';')[0]</a></li>
                            <li>@Html.ActionLink("LogOut", "Logout", "Login")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("SignIn", "Index", "Login")</li>
                            <li>@Html.ActionLink("SignUp", "Index", "Register")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
   
    <footer class="text-center" style=" height: 100px; bottom: 0; width: 100%;">
        <hr />
        <label style="margin-right:1.5rem;">@Html.ActionLink("Home", "Index", "Home")</label>
        <label style="margin-right:1.5rem;"> @Html.ActionLink("About", "About", "Home")</label>
        <label style="margin-right:1.5rem;">@Html.ActionLink("Contact", "Contact", "Home")</label>
        <label>&copy; @DateTime.Now.Year - My ASP.NET Application</label>
    </footer>
</body>
</html>
